/* You can add global styles to this file, and also import other style files */

/*@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");*/
body, html {
  background-color: #e7e7e7;
  height: 100%;
}

.message-bubble {
  padding: 10px 0px 10px 0px;
}

.message-bubble:nth-child(even) {
  background-color: #F5F5F5;
}

.message-bubble>* {
  padding-left: 25px;
}

.panel-body {
  padding: 0px;
  margin: 0px;
}

.panel-heading {
  background-color: #3d6da7 !important;
  color: white !important;
}

.scrollabe-ops {
  height: 20vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.scrollabe-users {
  height: 52vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.scrollabe-roomlist {
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.scrollabe-chat {
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.loader {
  border: 8px solid #f3f3f3;
  /* Light grey */
  border-top: 8px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-container {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}

.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
