<div class="col-sm-5 col-md-4 col-lg-3">
  <div class="panel panel-default">
    <div class="panel-heading"><i class="glyphicon glyphicon-user"></i> Ops</div>
    <div class="panel-body">
      <div #scrollOps class="scrollabe-ops scrollbar-style">
        <div class="row message-bubble" *ngFor="let op of ops">
          <div>
            <span><a (click)="sendPm(op)"> <i class="glyphicon glyphicon-comment"></i> {{op}}</a></span>
            <span class="pull-right">
                <div class="btn-group commands" *ngIf="isOp">
                    <label class="btn btn-info btn-xs" (click)="deOp(op)" tooltip="de-Op User" placement="left">
                        <i class="glyphicon glyphicon-save" ></i>
                    </label>
                    <label class="btn btn-warning btn-xs" (click)="kickUser(op)" tooltip="Kick User" placement="left">
                        <i class="glyphicon glyphicon-minus-sign"></i>
                    </label>
                    <label class="btn btn-danger  btn-xs" (click)="banUser(op)" tooltip="Ban User" placement="left">
                        <i class="glyphicon glyphicon-remove-sign"></i>
                    </label>
                </div>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-heading"><i class="glyphicon glyphicon-user"></i> Users</div>
    <div class="panel-body">
      <div #scrollUsers class="scrollabe-users scrollbar-style">
        <div class="row message-bubble" *ngFor="let user of users">
          <span><a (click)="sendPm(user)"> <i class="glyphicon glyphicon-comment"></i> {{user}}</a></span>
          <span class="pull-right ">
            <div class="btn-group commands" *ngIf="isOp">
                <label class="btn btn-info btn-xs" (click)="setOp(user)" tooltip="Op User" placement="left">
                    <i class="glyphicon glyphicon-open"></i>
                </label>
                <label class="btn btn-warning btn-xs" (click)="kickUser(user)" tooltip="Kick User" placement="left">
                    <i class="glyphicon glyphicon-minus-sign"></i>
                </label>
                <label class="btn btn-danger  btn-xs" (click)="banUser(user)" tooltip="Ban User" placement="left">
                    <i class="glyphicon glyphicon-remove-sign"></i>
                </label>
            </div>
        </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-7 col-md-8 col-lg-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{roomId}} - <strong class="text-center"> {{roomTopic}} </strong>
      <button type="button" class="btn btn-info btn-xs" (click)="commands.show()">Chat commands
              <span class="glyphicon glyphicon-info-sign"></span>
          </button>
      <a (click)="onPartRoom(channel)" class="pull-right"><i class="glyphicon glyphicon-remove"></i>
        </a>
    </div>
    <div class="panel-body">
      <div #scrollChat class="scrollabe-chat scrollbar-style">
        <div class="row message-bubble" *ngFor="let msg of messageHistory">
          <p class="text-muted"><kbd>{{msg.timestamp.substring(11,16)}}</kbd> <strong> {{msg.nick}} </strong></p>
          <span>{{msg.message}}</span>
        </div>
      </div>
      <div class="panel-footer">
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="newMessage" (keyup.enter)="onSendMessage()">
          <span class="input-group-btn">
            <button class="btn btn-default" (click)="onSendMessage()" type="button">Send</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-7 col-md-8 col-lg-9 col-sm-offset-5 col-md-offset-4 col-lg-offset-3 room-notification">
  <button type="button" class="btn btn-primary btn-xs" (click)="history.show()">
        <span class="glyphicon glyphicon-book"></span>
    </button> {{currentNotification}}
</div>


<!--Small modal-->
<div bsModal #history="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Notification History</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="history.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <code>
            <div class="modal-body" *ngFor="let msg of roomNotifications"> {{msg}} </div>
        </code>
    </div>
  </div>
</div>

<div bsModal #commands="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Chat commands</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="commands.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <code>
            <div class="modal-body">
                <div class="container">
                    <div class="col-md-2">
                        <kbd>!op username</kbd><br />
                        <kbd>!deop username</kbd><br />
                        <kbd>!kick username</kbd><br />
                        <kbd>!ban username</kbd><br />
                        <kbd>!part</kbd><br />
                    </div>
                    <div>
                        gives the specified user op privileges<br />
                        removes op privileges from the specified user<br />
                        kicks the specifid user from the channel<br />
                        bans the specifed user from the channel<br />
                        leaves the current channel<br />
                    </div>
                </div>
            </div>
        </code>
    </div>
  </div>
</div>
