<div class="col-sm-4 col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">Ops</div>
    <div class="panel-body">
      <div #scrollOps class="pre-scrollable">
        <div class="row message-bubble" *ngFor="let op of ops">
          <span>{{op}}</span>
        </div>
      </div>
    </div>
    <div class="panel-heading">Users</div>
    <div class="panel-body">
      <div #scrollUsers class="pre-scrollable">
        <div class="row message-bubble" *ngFor="let user of users">
          <span>{{user}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-8 col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">{{roomId}}</div>
    <div class="panel-body">
      <div #scrollChat class="pre-scrollable">
        <div class="row message-bubble" *ngFor="let msg of messageHistory">
          <p class="text-muted">{{msg.time}} > {{msg.nick}}</p>
          <span>{{msg.message}}</span>
        </div>
      </div>
      <div class="panel-footer">
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="newMessage" (keyup.enter)="onSendMessage()">
          <span class="input-group-btn">
            <button class="btn btn-default" (click)="onSendMessage()" type="button">Send</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
