<div class="col-sm-4 col-md-3">
    <input type="password" class="form-control" style="margin-bottom: 10px;" placeholder="channel password" [(ngModel)]="joinPass"/>
    <div *ngIf="wrongpass" class="text-danger">
      <h5 class="text-center">Password required!</h5>
    </div>
  <div class="panel panel-default">
    <div class="panel-heading">Rooms</div>
    <div class="panel-body">
      <div #scrollMe class="scrollabe-roomlist scrollbar-style">
        <div class="row message-bubble" *ngFor="let room of rooms">
          <span><a class="room-item" (click)="attemptToConnectTo(room)">{{room}}</a></span>
        </div>
      </div>
      <div class="panel-footer">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="room name" [(ngModel)]="newRoomName" (keyup.enter)="onNewRoom()" />
          <input type="password" class="form-control" placeholder="password (optional)" [(ngModel)]="password" (keyup.enter)="onNewRoom()" />
            <button class="btn btn-def btn-block" style="width: 100%;" (click)="onNewRoom()">Create new room</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-4 col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">Users</div>
    <div class="panel-body">
      <div #scrollMe class="scrollabe-roomlist scrollbar-style">
        <div class="row message-bubble" *ngFor="let user of users">
            <button type="button" class="btn btn-primary btn-xs" (click)="sendMsg.show(); setMsgReceiver(user)">
                  <i class="glyphicon glyphicon-comment"></i>
            </button>
          <span><a [routerLink]="['/user', user]">{{user}}</a></span>

        </div>
      </div>
    </div>
  </div>
</div>


<!--Small modal-->
<div bsModal #sendMsg="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Sending private message to {{msgReceiver}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="sendMsg.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <input type="text" class="form-control" placeholder="msg" [(ngModel)]="newMessage" (keyup.enter)="sendPM(msgReceiver)"/>
      <button class="btn btn-block" style="width: 100%;" (click)="sendPM(msgReceiver)">send</button>
    </div>
  </div>
</div>
