<div *ngIf="showNavBar">
  <nav class="navbar navbar-default" style="padding-left: 15px;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Chatty</a>
      </div>
      <ul class="nav navbar-nav">
        <li [class.active]="roomListButtonActive">
          <a [routerLink]="['/rooms']" (click)='setActive("roomList")'>Room List</a>
        </li>
        <li [class.active]="lobbyButtonActive">
          <a [routerLink]="['/rooms/lobby']" (click)='setActive("lobby")'>Lobby</a>
        </li>
        <li *ngFor="let channel of channels">
          <a [routerLink]="['/rooms', channel]">{{channel}}</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
